body{
    background-color: #2b2d42; /*Color principal*/
    
}

#principal{
    background-color: #8d99ae; /*Color secundario*/

    border-radius: 50px;
    margin: 5px;

    padding: 5%;

    margin-left: 10%;
    margin-right: 10%;

}

#botones_inicio{
    display: flex;

    justify-content: center;
    align-items: center;    
}

h1{
    font-size: 40px;

    
}

header{
    margin-top: 0;

    text-align: center;

    background-color: #ef233c; /*4to*/
}

footer{
    background-color: #8d99ae; /*Secundario*/

    border-width: 2px;
    border-style: dotted;
    border-radius: 20px;

    padding: 10px;

    margin: 10%;
}

.boton_iniciar{
    font-size: 17px;
    text-decoration: none;

    padding-left: 20px;
    padding-right: 20px;

    padding-bottom: 5px;
    padding-top: 5px;

    margin-left: 5px;
    margin-right: 5px;

    background-color: #edf2f4; /*Colores terciarios*/

    border-color: #edf2f4;
    border-radius: 23px;
    border-width: 1,5px;
    border-style: solid;

    height: 30px;
    width: 140px;

    text-align: center;

}

#div_inicio_y_registro{
    text-align: center;

    border-style: solid;
    border-color: #8d99ae; /*Secundario*/
    border-width: 2,5px;
    border-radius: 20px;

    background-color: #8d99ae; /*Secundario*/

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 5%;
}

.label_texto{
    font-size: 20px;

}

#principal_iniciado{
    background-color: #ef233c;
}

