#principal{
    background-color: lightgray;

    border-radius: 20px;
    margin: 5px;

    padding: 5%;

    margin-left: 10%;
    margin-right: 10%;

}

#botones_inicio{
    display: flex;

    justify-content: center;
    align-items: center;    
}

h1{
    font-size: 40px;
}

header{
    text-align: center;
}

footer{
    background-color: burlywood;

    border-width: 2px;
    border-style: dotted;
    border-radius: 20px;

    padding: 10px;

    margin: 10%;
}

.boton_iniciar{
    font-size: 17px;
    text-decoration: none;

    padding: 70px;
    padding: 50px 5px;

    background-color: rgba(70, 186, 70, 0.992);

    border-color: rgb(0, 116, 0);
    border-radius: 23px;
    border-width: 1,5px;
    border-style: solid;

    height: 30px;
    width: 140px;

    text-align: center;

}

body{
    background-color: bisque;
    
}

#div_inicio_ses{
    text-align: center;

    border-style: solid;
    border-color: darkslategray;
    border-width: 2,5px;
    border-radius: 20px;

    background-color: green;

    margin-left: 10%;
    margin-right: 10%;

    margin-top: 5%;
}

.label_texto{
    font-size: 20px;
}