<!--! 
    /file: inicioSesion.html
    /brief: archivo donde el usuario introduce sus credenciales para iniciar sesión

    Contenido de la página:

    - Header y Footer principales
    - Cuestionario para iniciar sesión
    - Botones para navegación

-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/estilos.css}">
<head>
    <!--!
        /brief Configuración del documento HTML.

        Incluye:
            - Configuración UTF8.
            - Response viewport.
            - Archivo CSS con estilos de referencia.
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <!--!
        /brief Usdado Thymeleaf para implantar cabecera
    -->
    <header th:replace="plantilla :: headerPlant"></header>

    <!--!
        /brief Cuestionario para inciar sesión

        /details 
        Este cuestionario permite iniciar sesión si introduces el correo y y la contraseña que corresponden a un usuario

    -->
    <div id="div_inicio_y_registro">
        <h1><strong>Inicio de sesión</strong></h1>

        <form th:action="@{/inicioSesion}" method="post">

            <label for="username" class="label_texto">Email del usuario: </label>
            <input type="text" name="username" placeholder="Email">
        </br>
            <label for="password" class="label_texto">Contraseña </label>
            <input type="password" name="password" placeholder="Contraseña">
            <!--Hay que recordar que la ñ puede causar problemas por el acento-->
        </br>
            <button type="submit" style="margin: 15px;">Iniciar sesión</button>

        </form>
    </div>
    
    <br>

    <!--!
        /brief Botones de navegación

        /details

        Se incluyen dos botones para permitir:
        - Navegar a la pestaña principal
        - Dirigirse al cuestionario de registro
    -->
    <div>
        <div id="botones_inicio">
            <span class="boton_iniciar">
                <a th:href="@{/iniciar}">
                    <p>Vuelta al inicio</p>
                </a>
            </span>
            <span class="boton_iniciar">
                <a th:href="@{/registro}">
                    <p>REGISTRATE</p>
                </a>
            </span>
        </div>
    </div>

    <!--!
        /brief Usdado Thymeleaf para implantar cabecera
    -->
    <footer th:replace="plantilla :: footerPlant"></footer>
</body>
</html>