<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/estilos.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <header th:replace="plantilla :: headerPlant"></header>

    <div id="div_inicio_y_registro">
        <h1><strong>Inicio de sesión</strong></h1>

        <form th:action="@{/inicioSesion}" method="post">

            <label for="username" class="label_texto">Email del usuario: </label>
            <input type="text" name="username" placeholder="Email">
        </br>
            <label for="password" class="label_texto">Contraseña </label>
            <input type="password" name="password" placeholder="Contraseña">
            <!--Hay que recordar que la ñ puede causar problemas por el acento-->
        </br>
            <button type="submit" style="margin: 15px;">Iniciar sesión</button>

        </form>
    </div>

    <div id="botnes_mov">
        <span>
            <a th:href="@{/iniciar}">
                <p>Vuelta al inicio</p>
            </a>

            <a th:href="@{/registro}">
                <p>¿No tienes una cuenta? REGISTRATE</p>
            </a>
        </span>
    </div>

    <footer th:replace="plantilla :: footerPlant"></footer>
</body>
</html>