<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/estilos.css}">
    <title>PlantillaTH</title>
</head>

<body>
    <header th:insert="~{plantilla :: headerPlant}"></header>
    <nav th:insert="~{plantilla :: navPlant}"></nav>

    <div th:fragment="cuerpoExtra">
        <section class="perfil-container">
            <h2>Panel de Usuario</h2>
            <p>Hola, <span th:text="${usuario.name}">Usuario</span>!</p>

            <hr>

            <div style="background-color: #8d99ae;">
                <h3>Mis Listas de Deseos</h3>
            
            
                <div th:if="${#lists.isEmpty(usuario.wishlists)}">
                    <p>Aún no tienes ninguna lista. ¡Crea la primera!</p>
                </div>

            
                <ul class="lista-wishlists">
                    <li th:each="lista : ${usuario.wishlists}">
                        <strong th:text="${lista.nombre}">Nombre de la lista</strong>
                        <span th:text="${#lists.size(lista.juegos)} + ' juegos'"> juegos</span>
                        <a th:href="@{/wishlist/{id}(id=${lista.id})}"> Ver detalles</a>
                    </li>
                </ul>
            </div>

            <hr>

            <form th:action="@{/crear-wishlist}" method="post">
                <input type="hidden" name="id" th:value="${usuario.id}" />
                <input type="text" name="nombre" placeholder="Nueva Wishlist" required />
                <button type="submit">Crear Nueva Wishlist</button>
            </form>
        </section>
    </div>

    <footer th:insert="~{plantilla :: footerPlant}"></footer>
</body>
</html>