<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>prueba_login</title>
</head>
<body>

<h1>Bienvenido, <span th:text="${#authentication.name}">Nombre de Usuario</span></h1>

<p>Es funcional : )</p>

<hr>

    <div style="margin-bottom: 20px;">
        <a th:href="@{/perfil}">
            <button type="button" style="padding: 10px; cursor: pointer;"> Ir a Mis Wishlists 🎮</button>
        </a>
    </div>

<hr>

<form th:action="@{/logout}" method="post">
    <button type="submit">Cerrar Sesión</button>
</form>

</body>
</html>