<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/estilos.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <header th:replace="plantilla :: headerPlant"></header>

    <div id="div_inicio_y_registro">
        <h2><strong>Registro de usuarios</strong></h2>

        <form th:action="@{/registro}" th:object="${usuario}" method="post">

            <label for="name" class="label_texto">Nombre de usuario: </label>
            <input type="text" name="name" th:field="*{name}" placeholder="Nombre"> 

        </br>

            <label for="email" class="label_texto">Email del usuario: </label>
            <input type="email" name="email" th:field="*{email}" placeholder="Email">

        </br>

            <label for="contrasena" class="label_texto">Contraseña: </label>
            <input type="password" name="contrasena" th:field="*{contrasena}" placeholder="Contraseña">

        </br>

            <label for="fecha_nac" class="label_texto">Fecha de nacimiento: </label>
            <input type="date" name="fecha_nac" th:field="*{fecha_nac}">

        </br>

            <label for="pais" class="label_texto">País de residencia: </label>
            <input type="text" name="pais" th:field="*{pais}" placeholder="País">
        
        </br>

            <input type="submit" value="Registrarse" style="margin: 15px;">

        </form>
    </div>

    <br>

    <div id="botones_inicio">
        <span class="boton_iniciar">
            <a th:href="@{/iniciar}">
                <p>Vuelta al inicio</p>
            </a>
        </span>
        <br>
        <span class="boton_iniciar">
            <a th:href="@{/inicioSesion}">
                <p>INICIAR SESION</p>
            </a>
        </span>
    </div>

    <footer th:replace="plantilla :: footerPlant"></footer>
    
</body>
</html>