<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/estilos.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <header th:replace="plantilla :: headerPlant"></header>

    <div id="div_inicio_ses">
        <h2><strong>Inicio de sesión</strong></h2>

        <form action="nada_aun" method="post">

            <label for="Nombre_usuario" class="label_texto">Nombre de usuario: </label>
            <input type="text" name="Nombre_usuario">

        </br>

            <label for="Email_usuario" class="label_texto">Email del usuario: </label>
            <input type="email" name="Email_usuario">

        </br>

            <label for="Contra_usuario" class="label_texto">Contraseña: </label>
            <input type="password" name="Contra_usuario">

        </br>

            <label for="Fecha_nac_usuario" class="label_texto">Fecha de nacimiento: </label>
            <input type="date" name="Fecha_nac_usuario">

        </br>

            <label for="Pais_usuario" class="label_texto">País de residencia: </label>
            <input type="text" name="Pais_usuario">
        
        </br>

            <input type="submit" value="Confirmar">

        </form>
    </div>

    <footer th:replace="plantilla :: footerPlant"></footer>
    
</body>
</html>